*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: lightblue;
  font-family: sans-serif;
}
.heading{
  font-size: 50px;
}
.score {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.choices {
  height: 25vh;
  display: flex;
  justify-content: center;
}
.ai-hand{
  width: 200px;
}
.user-hand {
  width:200px;
  transform: rotateY(180deg);
}
.button-div{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.button{
  width: 150px;
  height: 54px;
  justify-content: space-around;
  align-items: center;
  background-color: coral;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.btn{
  margin-top: 100px;
}
.result{
  padding: 50px;
}